body {
  background-color: #202124;
  display: flex;
  justify-content: center;
  arign-item: center;
  color: white;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 4rem;
  color: #bdc1c6;
}
img{
  arign
}